*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Amatic SC', cursive;
font-family: 'Andika', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
}

.line{
    height: 30px;
    border: 1px solid #f5f5f5;
    width: 0px;
    margin-right: 310px;
}
.headerul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

li{
    list-style: none;
    cursor: pointer;
}

a{
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
    text-decoration: none;
    border: none;
}

a:hover{
    color: #b64b24;
}

a:active{
    color: #ff0000  ;
}


hr{
    border:3px solid #ffcd03;
}

.ayush{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
    box-shadow: 0 0 10px #000000;
    padding: 10px 40px;
}

h1{
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 10px;
}

.am{
border-radius: 20px;
box-shadow: 0 0 10px black;
}

footer{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 7px;
}

.qatal{
    display: flex;
  gap: 10px;
  flex-direction: column;
}

.cdn{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}