*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e3edf7;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill{
    height: 160px;
    width: 160px;
   
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px #00000026,6px 6px 10px -1px #ffffffb3;
    
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px #00000033 ,inset -4px -4px 6px -1px #ffffffb3, -0.5px -0.5px 0px #ffffff, 0.5px 0.5px 0px #00000026 , 0px 12px 10px -10px #0000000d; 
 
}

#number{
    font-weight: bolder;

}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset:472;
    animation: anim 3s linear forwards;
}

svg{
    position: absolute;
    top: 35%;
    left: 469px;
}
@keyframes anim {
    100%{
        stroke-dashoffset:165;
    }
}