*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
border: 1px solid #000000;
padding: 15px 25px;
box-shadow: 0  0 10px #000000;
}

h2{
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

div{
    margin-bottom: 10px;
    cursor: pointer;
}

#dec{
    padding: 3px 10px;
    cursor: pointer;
    font-weight: 700;
}

#val{
    padding: 3px 10px;
}

#inc{
    padding: 3px 10px;
    cursor: pointer;
    font-weight: 700;
}

#res{
  text-align: center;
  font-weight: 500;
  padding: 3px 10px;
  cursor: pointer;
}