*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Amatic SC', cursive;
    font-family: 'Andika', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #f6f8fa;
}

header{
    background-image: url(https://github.com/pwlive/fullstackwebdevelopment/blob/b3e617dcc5341797f3dab8c75755f41e8afc7320/11%20Feb%202023/Real%20Estate/Photos/mainBackground.png?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125vh;
    position: relative;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

hr{
   border: 1px solid #f6f8fa;
   margin: 0 45px;
}

.overall{
    margin-left: 150px;
    margin-top: 50px;
    color: #f6f8fa;
}

.modern{
    font-weight: bolder;
    text-shadow: 0 0 10px #000000;
    margin-bottom: 15px;
}

.modern2{
    font-weight: 500;
    text-shadow: 0 0 7px #000000;
    margin-bottom: 10px;
}

button{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #714dcc;
    font-weight: 500;
    cursor: pointer;
}

button:hover{
    color: #000000;
    background-color: #f6f8fa;
}

button:active{
    color: #ff0000;
    font-weight: bold;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: #f6f8fa;
}

a:hover{
    color: #ffa500;
}

a:active{
    color: #ff0000;
    font-weight: bold;
}

.na{
 background-color: #fff;
 margin: 0 35px;
 height: 190px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 border-radius: 30px;
 position: relative;
 bottom: 30px;
}

.forever{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 150px;
}

.modern3{
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 50px;
}
.cards{

    column-gap: 100px;
    row-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f8ff;
}

.cards{
    box-shadow: 0 0 15px black;
    padding: 20px 40px;
}

.aboutbox{
    display: flex;
   gap: 25px;
   box-shadow: 0 0 7px black;
  padding: 4px 5px;
  border-radius: 5px;
}

.reason{
    box-shadow: 0 0 7px black;
}

.anaconda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}
.rang1{
    position: relative;
    right: 270px;
    bottom: 45px;
    border-radius: 10px;
}

.time{
    margin-bottom: 20px;
}

.time1{
    margin-bottom: 20px;
}

.sho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; 
}
.brar{
    margin-left: 10px;
}

.darshan1{
    position: relative;
    bottom: 45px;
    left: 270px;
    border-radius: 10px;
}

.democracy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #331879;
    border-radius: 25px;
    margin: 50px 40px;

}

.democracy1{
    color: #ffffff;
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 20px;
}

.democracy2{
    color: #ffffff;
    font-weight: 500;
    text-align-last: center;
    margin-bottom: 20px;
}    

.good1{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
box-shadow: 0 0 10px black;
}

input{
padding: 3px 3px;
background-color: #714dcc;
border: none;
}

input:hover{
    color: #f0f8ff;
}

.good{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.brother{
    margin-bottom: 25px;
    cursor: pointer;
}

.brothers{
    margin-bottom: 15px;
    cursor: pointer;
}

.raaj3{
    color: white;
    font-weight: 500;
}

.raaj{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media screen and (max-width:500px) {
    
    nav{
        display: flex;
        flex-direction: column;
    }

    .link{
        display: none;
    }

  .na{
    display: none;
  }

  .cards{
    display: flex;
    flex-direction: column;
  }

  .anaconda{
    display: none;
  }

  .sho{
    display: none;
  }

  .democracy{
  flex-direction: column;
  }

  .good{
    display: none;
  }

  .raaj{
    flex-direction: column;
  }

  .raaj3{
    display: none;
  }

  ul{
    margin-bottom: 30px;
  }
}