*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
font-family: 'Andika', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-image: linear-gradient(#80002f , #00b3fffc);
    padding: 20px 40px;
    border-radius: 10px;
}

.dir{
text-align: center;
}

p{
    margin-top: 10px;
    font-weight: 700;

}

i{
    text-size-adjust: 20px;
}